docker {
    enabled = true
}
process {
  errorStrategy = 'retry'
  maxRetries = 1
  cpus = 2
  memory = '4 GB'

    withName:maskRepeats_1{
      container = 'quay.io/biocontainers/mummer4:4.0.0rc1--pl5262h1b792b2_1'
    }

    withName:maskRepeats_2{
      container = 'quay.io/biocontainers/bedtools:2.29.2--hc088bd4_0'
    }

    withName:bwaIndex{
      container = 'staphb/bwa:0.7.17'
    }

    withName:indexReference_1{
      container = 'quay.io/biocontainers/picard:2.22.9--0'
    }

    withName:indexReference_2{
      container = 'staphb/samtools:1.10'
    }

    withName: seqkit_fastq_pair{
      container = 'quay.io/biocontainers/seqkit:0.16.0--h9ee0642_0'
    }

    withName: faqcs{
      container = 'quay.io/biocontainers/faqcs:2.10--r40h9a82719_1'
    }

    withName: seqtk_downsample{
      container = 'quay.io/biocontainers/seqtk:1.3--hed695b0_2'
    }

    withName: bwa_align{
      container = 'staphb/bwa:0.7.17'
    }

    withName:bam_sort{
      container = 'staphb/samtools:1.10'
    }

    withName:picard{
      container = 'quay.io/biocontainers/picard:2.22.7--0'
    }

     withName:bam_index{
      container = 'staphb/samtools:1.10'
    }

    withName: fastqc{
      container = 'staphb/fastqc:0.11.8'
    }

     withName: qualimap{
      container = 'quay.io/biocontainers/qualimap:2.2.2d--hdfd78af_2'
    }

    withName: multiqc{
      container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
    }

    withName: gatk_HC{
      container = 'broadinstitute/gatk:latest'
    }

     withName: gatk_CB{
      container = 'broadinstitute/gatk:latest'
    }

}